$--Light-Main-Primary-Primary---Dark-10: #151824;
$--Light-Main-Primary-Primary---Dark-9: #130f26;
$--Light-Main-Primary-Primary---Dark-7: #5b5d66;
$--Light-Main-Primary-Primary---Dark-6: #75777e;
$--Light-Main-Primary-Primary---Dark-5: #878ea2;
$--Light-Main-Primary-Primary---Dark-4: #a6a7ac;
$--Light-Main-Primary-Primary---Dark-3: #c7c8ca;
$--Light-Main-Primary-Primary---Dark-2: #e1e1e3;
